@keyframes moveRigth 
    from
        left: 0
    to
        left: calc(100% - 60px)
@keyframes changeBackground
    0%
        background: white
    100%
        background: red
@keyframes squareMove
    25%
        top: 0
        left: calc( 50% - 30px )
    50%
        left: calc( 50% - 30px )
        top: calc( 50% - 30px )
    75%
        left: 0
        top: calc( 50% - 30px )
@keyframes hitherThither
    0%
        left: 0
    50%    
        left: 50%
    100%
        left: 0
@keyframes increaseWidth 
    100%
        width: 100%
@keyframes increasePauseWidth
    100%
        width: 100%