@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300&display=swap");
body {
  font-family: 'Merriweather', serif;
  color: white;
  background: url("../assets/bg.webp") no-repeat fixed center;
  background-size: cover;
  text-shadow: 1px 1px 4px black;
  letter-spacing: 1px;
  word-spacing: 3px;
}

p {
  font-style: italic;
  font-weight: 300;
}

h1, h2 {
  color: #f1d071;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 16px;
}

hr {
  border: 1px solid #f1d071;
  -webkit-box-shadow: 1px 1px 1px #f1d071;
          box-shadow: 1px 1px 1px #f1d071;
  -webkit-box-shadow: 0px 0px 20px 3px #f1d071;
          box-shadow: 0px 0px 20px 3px #f1d071;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  background: inherit;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: inherit;
}

.photo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: inherit;
  z-index: 5;
}

.photo * {
  position: relative;
}

.info {
  position: relative;
  z-index: 5;
}

.info * {
  position: relative;
}

img {
  display: block;
  max-width: 300px;
  border-right: 5px solid #443306bf;
  border-left: 5px solid #443306bf;
  border-radius: 50%;
  -webkit-box-shadow: inset 5px 5px 5px white;
          box-shadow: inset 5px 5px 5px white;
}

@media screen and (max-width: 400px) {
  img {
    width: 120px;
  }
}

nav {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li:nth-child(2) {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #f1d071;
}

.photo:before, .info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: inherit;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.back {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #160f0f6e;
}

.checkbox-container {
  position: absolute;
  left: calc( 50% - 43px);
}

.checkbox-container::before {
  content: 'Float model';
  position: absolute;
  left: -120px;
  z-index: 200;
  top: 5px;
  color: #f1d071;
}

.checkbox-container::after {
  content: 'Flex asdasdasdsad model';
  position: absolute;
  right: -200px;
  z-index: 200;
  top: 5px;
  color: #f1d071;
}

.checkbox {
  visibility: hidden;
}

.checkbox-group {
  position: absolute;
  z-index: 50;
  width: 86px;
  height: 30px;
  background-color: #333;
  border-radius: 50px;
}

.checkbox-group::after {
  position: absolute;
  content: '';
  top: 14px;
  left: 14px;
  height: 2px;
  width: 58px;
  background-color: #111;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.checkbox-label {
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  top: 4px;
  left: 4px;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}

.checkbox-label::after {
  position: absolute;
  top: 6px;
  left: 6px;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.checkbox:checked + .checkbox-label {
  left: 54px;
}

.checkbox:checked + .checkbox-label:after {
  background: #27ae60;
}

@media screen and (max-height: 720px) {
  main {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 35px;
  }
  main .photo {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */